body{
    font-family:'Courier New', Courier, monospace;
    font-size: larger;
}


.navbar{
    background-color:lightcyan ;
}

.quem-somos{
    background-color:lightgray;
    color: black;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.história{
    background-color: lightcyan;
}

.Mais-Fotos{
    background-color: lightgray;
    font-family:'Courier New', Courier, monospace;
    color: black
}

.bg-footer{
    background-color: black;
    color: white;
}